@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1080p;
    margin:0 auto;
}

header {
    background-color: #1A1A1A;
    padding-top: 36px;
    padding-bottom: 200px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:  #1A1A1A;
    font-weight: bold;
}

.navigation-holder{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-links a{
    text-decoration: none;
    color: #D1D1D1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-title{
    margin-top: 110px;
    margin-bottom: 80px;
    position: relative;
}

.header-subtitle-text{
    border-left: 1px solid #8C8C8c;
    color: #8C8C8c;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 13px;
    letter-spacing: 1.5px;
}

.header-title-text{
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    max-width: 620;
}

.join{
    background-color: orange;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 110px;
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    text-decoration: none;
    color: #1A1A1A;
    font-weight: bold;
}

.header-info-block{
    display: flex;
    justify-content: space-between;
}

.card-info{
    max-width: 361px;
}

.card-info-img{
    display: flex;
}

.info-title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}

.info-subtitle{
    font-size: 13px;
    color: #8C8C8c;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.about-subtittle-text{
    border-left: 1px solid #fff;
    padding: 8px 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 13px;
    letter-spacing: 1.5px;
}

.about-desc{
    font-size: 14px;
    color: #D1D1D1;
    max-width: 240px;
    line-height: 1.8px;
}

.audio-holder{
    width: 540px;
}

.audio-block{
    background-color: #242424;
    margin-top: 61px;
    display: flex;
}

.audio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    padding: 0.34px;
}

.audio-detail{
   flex: 1; 
}

.control{
    position: absolute;
    right: 0;
    bottom: 0;
}

.control i{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: orange;
}

.about-title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.about-subtitle{
    font-size: 13px;
    font-weight: bold;
    color: #8C8C8c;
    text-align: center;
    letter-spacing: 1.5px;
}

footer{
    background-color: #F5F6F8;
    padding: 60px;
}

.course-info-title{
    font-weight: 600px;
    font-size: 70px;
    color: #1A1A1A;
    padding-bottom: 40px;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #8C8C8c;
}

.left-block{
    display: flex;
    align-items: center;
}

.course-number{
    color: #8C8C8c;
    font-size: 25px;
    font-weight: 600px;
    font-style: normal;
}

.course-name{
    color: black;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.8px;
}

.course-count{
    color: #8C8C8c;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
}

.course-block{
    margin-left: 60px;
}

@media (max-width: 1120px) {
    .container{
        padding: 0 20px;
    }
}
@media (max-width: 992px) {
    .header-info-block{
        flex-direction: column;

    }

    .card-info{
        margin-top: 60px;
        align-self: flex-end;
    }

    .audio-container{
        order: -1;
    }

    .course-row{
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .card-big, .card-small{
        width: 100px;
    }

    .img-container, .info-container{
        width: 50%;
    }

    .img-card-1, .img-card-3{
        margin-right: 40px;
        
    }

    .img-card-2, .img-card-4{
        margin-left: 40px;
    }
}
@media (max-width: 756px) {
    course-card{
        flex-direction: column;
    }

    .img-card-1, .img-card-2, .img-card-3, .img-card-4{
        margin: 0;
    }

    .img-container .info-container{
        width: 100%;
    }

    
}
@media (max-width: 578px) {
    .header-tittle-text{
        font-size: 60px;
    }

    .join{
        display: none;
    }

    .card-info-img{
        max-width: 100%;
    }

    .audio-block img{
        display: none;
    }

    .audio-holder, .card-about{
        width: 100%;
    }

    .control i{
        height: 49px;
        width: 49px;
    }

    .audio-container{
        padding-right: 40px;
    }

    .course-info-tittle{
        font-size: 60px;
    }
    
    .course-name{
        font-size: 30px;
    }
}

.courses h1{
    font-size: 70px;
    font-weight: 600px;
    color: #1A1A1A;
    margin: 60px 0;
}

.course-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.card-big{
    width: 540px;
}

.card-small{
    width: 360px;
}

.img-container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 20px;
}

.img-card-1{
    background-image: url(img/card-1.png);
}

.btn-time{
    background-color: #fff;
    border-radius: 5px;
    color: #1A1A1A;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 8px;
}

.btn-rating{
    background-color: #1A1A1A;
    color: #fff;
    border-radius: 5px;
}

.img-card-2{
    background-image: url(img/card-2.png);
}


